TRACKING_PROVIDER=mock
TRACKING_API_BASE_URL=
TRACKING_API_KEY=
TRACKING_API_TIMEOUT_MS=6000
TRACKING_17TRACK_API_KEY=
TRACKING_17TRACK_API_BASE_URL=
TRACKING_AFTERSHIP_API_KEY=
TRACKING_AFTERSHIP_API_BASE_URL=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CONTENT_LAST_REVIEWED_AT=2026-03-10
GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GTM_ID=
